*.iml
.gradle/
.kotlin/
.idea/
.cursor/
.DS_Store
local.properties
/TASKS-SPRINT2.md
/internship-assignment-sprint2-features.md
/internship-assignment-w1-w2.md
/review-sprint2-tu.md

**/build/
/captures
.externalNativeBuild
.cxx

*.apk
*.aab
*.ap_
*.jks
*.keystore
keystore.properties

*.log
*.hprof
